%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[
 {kernel, [
	{start_timer, true},
	{start_pg2, true}
 ]},
 {sasl, [
	{sasl_error_logger, {file, "log/eventlog_sasl.log"}}
 ]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/eventlog_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/eventlog_info.log", info, 80485760, "$D0", 5},
			{"log/eventlog_error.log", error, 80485760, "$D0", 5}
		]}
	]}
 ]},
 {amqp_client, [
	{broker, [{host, "localhost"}, 
        {vhost, <<"/wifioss">>}, 
        {user, <<"wifioss">>}, 
        {password, <<"public">>}]}
 ]},
 {eventlog, [
 ]}
].

